{% extends "base.html" %}

{% block content %}
<a href="{{url_for('create')}}"><b class="btn btn-primary">Create Routine</b></a>
      &nbsp;
  <!--    <a href="{{url_for('myAccount') }}"<b class="btn btn-primary">MyAccount</b></a>
-->
<a href="{{url_for('view')}}"><b class="btn btn-info">View Routine</b></a>
      &nbsp;
    <!-- current_user is a property of flask-login -->
<div><h1>Hi, {{ current_user.username }}! Welcome to Task Route</h1>
    {% for post in posts %}
    <h2>{{post.head}}</h2>
    {% endfor %}
</div>
{% endblock %}:w
