{% extends "base.html" %}

{% block content %}


    <body class= "login-page">
    
        <style>
            body{
                position: relative; 
                width: 1440px;
                height: 1024px; 

                background-color: #535353;
                box-shadow: 0px 4px 4px rgba(0,0, 0, 0.25);
            }    
            
            #signup{
                position: absolute;
                width: 183px; 
                height: 21px; 
                left: 628px; 
                top: 486px; 

                font-family: Oxygen; 
                font-style: normal;
                font-weight: bold;
                font-size: 14px; 
                line-height: 18px;
                display: flex;
                align-items: center;
                text-decoration-line: underline;
                text-transform: uppercase;

                color: #E0E0E0;
            }

            .login-username-text{
                position: absolute;
                width: 330px;
                height: 36px;
                left: 456px;
                top: 322px;
                z-index: 9999;

                font-family: "Oxegyn", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;
                text-transform: uppercase;

                color: rgba(0, 0, 0, 0.35);
            }

            .login-username{
                position: absolute; 
                width: 556px;
                height: 50px;
                left: 442px; 
                top: 315px; 

                background: #FFFFFF; 
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 7px; 
            }

            .login-password-text{
                position: absolute;
                width: 330px;
                height: 36px;
                left: 456px;
                top: 390px;
                z-index: 9999;

                font-family: "Oxygen", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;
                text-transform: uppercase;

                color: rgba(0, 0, 0, 0.35);
            }
            
            .login-password{
                position: absolute; 
                width: 556px;
                height: 50px;
                left: 442px; 
                top: 383px; 

                background: #FFFFFF; 
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 7px; 
            }
        </style>
        <form action="" method="post" novalidate>
            <!--{{ form.hidden_tag() }}-->
            <p>
                {{ form.username.label(class_="login-username-text") }}
                <br>
                {{ form.username(class_="login-username") }}
            </p>
            <p>
                {{ form.password.label(class_="login-password-text") }}
                <br>
                {{ form.password(class_="login-password") }}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p> {{ form.submit() }}</p>
    <p id="signup"><a href="{{ url_for('register') }}">Don't have an account? </a></p>
    </body>
        </form>
    {% endblock %}
