{% extends "base.html" %}

{% block content %}


    <body class= "login-page">
    
        <style>
            
            /*hyperlink override
            a{
                color: black; 
                text-decoration: none;
            }
            a:hover{
                color: black; 
                text-decoration: none; 
            }*/

            /*Rest of CSS*/
            #rectangle{
                position: absolute;
                width: 1500px;
                height: 96px;
                left: 0px;
                top: 0px;
                z-index: 9990;
                overflow: hidden;

                background: rgba(108, 164, 107, 0.69);
                backdrop-filter: blur(4px);
                box-shadow: 0px 4px 4px rgba(0,0, 0, 0.25);
            }

            #app-title{
                position: absolute;
                top: 5px;
                z-index: 9999;

                font-family: "Oxegyn", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 50px;
                padding-left: 15px; 
                text-transform: uppercase;
                font-feature-settings: 'cpsp' on;

                color: #0F0F0F;
                text-decoration: none;

                mix-blend-mode: darken;
            }

            .material-icons.anonymous-profile{
                font-size: 150px;
                text-align: center;
                position: absolute;
                left: 649px;
                top: 150px;
            }

            body{ 

                background-color: #535353;
                /*box-shadow: 0px 4px 4px rgba(0,0, 0, 0.25);*/
            }    
            
            #signup-link{
                position: absolute;
                width: 200px; 
                height: 21px; 
                left: 628px; 
                top: 486px; 

                font-family: "Oxygen", sans-serif; 
                font-style: normal;
                font-weight: bold;
                font-size: 14px; 
                line-height: 18px;
                display: flex;
                align-items: center;
                text-decoration-line: underline;
                text-transform: uppercase;

                color: #E0E0E0;
            }

            .login-username-text{
                position: absolute;
                width: 330px;
                height: 36px;
                left: 456px;
                top: 322px;
                z-index: 9999;

                font-family: "Oxegyn", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;
                text-transform: uppercase;

                color: rgba(0, 0, 0, 0.35);
            }

            .login-username{
                position: absolute; 
                width: 556px;
                height: 50px;
                left: 442px; 
                top: 315px; 

                background: #FFFFFF; 
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 7px; 
            }

            .login-password-text{
                position: absolute;
                width: 330px;
                height: 36px;
                left: 456px;
                top: 390px;
                z-index: 9999;

                font-family: "Oxygen", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 30px;
                text-transform: uppercase;

                color: rgba(0, 0, 0, 0.35);
            }
            
            .login-password{
                position: absolute; 
                width: 556px;
                height: 50px;
                left: 442px; 
                top: 383px; 

                background: #FFFFFF; 
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 7px; 
            }

            .login-button{
                position: absolute;
                width: 151px;
                height: 50px;
                left: 847px;
                top: 461px;

                background: #EB5757;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 7px;
            }

        </style>
        <area shape="rect", id="rectangle"/>
        <p>
            <a id="app-title" href="{{ url_for('home') }}">
                T A S K R O U T E
            </a>
        </p>

        <i class="material-icons anonymous-profile">account_circle</i>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label(class_="login-username-text") }}
                <br>
                {{ form.username(class_="login-username") }}
            </p>
            <p>
                {{ form.password.label(class_="login-password-text") }}
                <br>
                {{ form.password(class_="login-password") }}
            </p>
            <!--p>{{ form.remember_me() }} {{ form.remember_me.label }}</p-->

            <p> {{ form.submit(class_="login-button") }}</p>
    <p ><a id="signup-link" href="{{ url_for('register') }}">Don't have an account? </a></p>
    </body>
        </form>
    {% endblock %}
