{% extends "base.html" %}
{% block content %}

<style>
    .reset-request-page{
        position: absolute;
        top: 15%;

        font-family: 'Oxygen', sans-serif;
    }

</style>


<div class="reset-request-page">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.email(class_="reset-request-email", placeholder=" EMAIL", size=32) }}</p>
        
        <p>{{ form.submit(class_="reset-request-submit-button") }}</p>
    </form>
</div>

{% endblock content %}