{% extends "base.html" %}

{% block content %}
<!--Code for search bar| place one at each page except base-->
<div class="search-area">
    <!--this is the search form-->
    <form action="" method="post" novalidate>
        {{ searchBar.hidden_tag() }}
        <p>{{ searchBar.routineName(class_="search-bar", placeholder=" SEARCH", size=32) }}</p>
    </form>
</div>

<br>
<article class="media content-section">
<!--  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + routine.author.image_file) }}">
-->
  <div class="media-body" style="padding-right: 5px;">
    <div class="article-metadata">
    <!--  
      <h1>{{ routine.author.username }}</h1> 
    -->
      <p style="padding-right: 10px; color: yellowgreen;">
      {% if routine.author == current_user %}
        <div>
            <h2 style="color: orange;" class="article-title">{{ routine.title }}</h2>
            <h3 style="color: yellowgreen;" class="article-content">{{ routine.description }}</h3>
            <h4 style="color: whitesmoke">{{ routine.timestamp.strftime('%Y-%m-%d') }}</h4>

          <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('update_routine', routine_id=routine.id) }}">Update</a>
          
          <form action="{{ url_for('delete_routine', routine_id=routine.id) }}" method="POST">
          <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Delete">
          </form>
          <!--Modal Part--NOT USING-->
          <!--
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          -->
        </div>
      {% endif %}
      </p>
    </div>
    
  </div>
</article>
{% endblock content %}
  <!-- Modal--NOT USING -->
  <!--
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Routine?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_routine', routine_id=routine.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  -->
