<!--incomplete-->
{% extends "base.html" %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
    <div>
      <p> Your Routines are:</p>
      <!--this should display routines added in createroutine form-->
        <b>{{task.title}}</b> : <b>{{task.description}}</b>
    </div>
{% endblock %}
<!--
  <form action = "" method = "post">
    
    {{form.title(placeholder="TITLE")}}
    <br>
    {{form.description(placeholder=" DESCRIPTION")}}
    <br>
    {{ form.submit(class_="btn btn-primary") }}
  </form>

  
#extra stuff for testing
<form action="" method="POST">
    abcd

{{from.something(placeholder="addsoemthing...")}}
{{ form.submit(class_="btn btn-primary") }}

</form>

-->
