{% extends "base.html" %}
{% block content%}

<style>
  .view-routine-page{
    position: absolute; 
    top: 15%;
  }
</style>

<div class="view-routine-page">
    {% for routine in routines %}
    {% if routine.author == current_user %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h1>{{ routine.author.username }}</h1>
              <h2 class="text-muted">{{ routine.timestamp.strftime('%Y-%m-%d') }}</h2>
            </div>
            <h2><a class="article-title" href="{{ url_for('routine', routine_id=routine.id) }}">{{ routine.title }}</a></h2>
            <p class="article-content">{{ routine.description }}</p>
          </div>
        </article>
    {% endif %}
  {% endfor %}
</div>


{% endblock content %}