{% extends "base.html" %}

{% block content %}

<body>
   <h1>View your Routine</h1>
    <div class="list-group">      
        
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Monday</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Tuesday</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">Wednesday</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Thursday</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Friday</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">Saturday</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light">Sunday</a>
    
      </div>
</body>

{% endblock %}
